<div class="ui-g">
  <div class="ui-sm-1  ui-g-2"></div>
  <div class="ui-sm-10 ui-g-8 w3-light-grey">
    <div class="ui-g">
      <div class="ui-g-12">
        <span class="fa-stack fa-2x" aria-hidden="true" style="top: -10px;">
          <i class="fa fa-folder-o fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x"></i>
        </span>
        <h1 class="w3-show-inline-block">succumber-build</h1>
      </div>
      <div class="ui-g-8 ui-sm-12">
        <p>This project blah blah blah, you can find the following kind of scenarios... more information in the wiki, etc.</p>
      </div>
      <div class="ui-g-12 ui-sm-12">
        <p-chart type="doughnut" [data]="data" [options]="options" [height]="50"></p-chart>
      </div>
      <div class="ui-g-12">
        <span class="fa-stack fa-2x" aria-hidden="true" style="top: -10px;">
          <i class="fa fa-folder-o fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x"></i>
        </span>
        <h1 class="w3-show-inline-block">succumber-reports-ui</h1>
      </div>
      <div class="ui-g-12">
        <span class="fa-stack fa-2x" aria-hidden="true" style="top: -10px;">
          <i class="fa fa-folder-o fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x"></i>
        </span>
        <h1 class="w3-show-inline-block">succumber-jvm</h1>
      </div>
      <div class="ui-g-12">
        <span class="fa-stack fa-2x" aria-hidden="true" style="top: -10px;">
          <i class="fa fa-folder-o fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x"></i>
        </span>
        <h1 class="w3-show-inline-block">succumber-reports-jenkins</h1>
      </div>
      <div class="ui-g-12">
        <span class="fa-stack fa-2x" aria-hidden="true" style="top: -10px;">
          <i class="fa fa-folder-o fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x"></i>
        </span>
        <h1 class="w3-show-inline-block">succumber-reports-maven</h1>
      </div>
    </div>
  </div>
  <div class="ui-sm-1  ui-g-2"></div>
</div>
